---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
    <main>
        <p>
            mikolaj.wargowski@svchain.systems - <a
                href="https://www.linkedin.com/in/mikołaj-wargowski/"
                >LinkedIn</a
            >
        </p>
        <p>
            przemyslaw.chachaj@svchain.systems - <a
                href="https://www.linkedin.com/in/przemysław-chachaj/"
                >LinkedIn</a
            >
        </p>
        <p>
            dawid.szemraj@svchain.systems - <a
                href="https://www.linkedin.com/in/dawidszemraj/">LinkedIn</a
            >
        </p>
        <p>
            adam.maciejczuk@svchain.systems - <a
                href="https://www.linkedin.com/in/adam-maciejczuk">LinkedIn</a
            >
        </p>
    </main>
</Layout>

<style>
    p {
        text-align: center;
    }
</style>
